.container {
  width: 100vw;
  height: 13vh;
  padding: 15px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(165,112,255);

  .title{
    font-family: 'Courier New', Courier, monospace; 
    font-size: 28px; 
    font-weight: bold;
    color: white;
    font-weight: 700;
    font-size: 1.3rem;
    margin-bottom: 5px;
  }
}
